body{
    background-image: linear-gradient(to right, rgb(20,147,220), rgb(17,54,71));
    font-family: arial, helvetica, sans-serif;
}

.box{
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}